<section class='scaffold'>
  <h2 class="breadcrumbs">
    <%= link_to "Posts", posts_path %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    <%= link_to @post.id, post_path(@post.id) %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    Editing
  </h2>

  <%= render "form", user: @post %>
</section>

