$dark-blue: #153d77;

$light-main-background: #f4f7fc;


$nav-link: #6c757d;
$nav-active_link: #3e4676;
$nav-active-background: #e9ecef;

$error-red: #dc3545;

$default-button-foreground: #F0F0F0;
$default-button-background: #3b7ddd;
$default-button-background-hover: #2469ce;

$success-button-foreground: #F0F0F0;
$success-button-background: #28a745;
$success-button-background-hover: #1e7e34;


$destroy-button-foreground: #F0F0F0;
$destroy-button-background: #dc3545;
$destroy-button-background-hover: #c82333;